<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../set/bootstrap/css">
    <link rel="stylesheet" href="../../css/battery.css">
    <title>dv parking</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand-lg my-nav">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">DV PARKING</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../parking/parking.html">Parking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../tireclinic/tire.html">Tire clinic</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            
                            </a>
                            <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true"></a>
                        </li>
                        </ul>
                        <button class="btn btn-outline-success" type="submit">ADD</button>
                       
                   </div>
                </div>
            </nav>
            <div class="card slide-div" id="slide-1">
                <img src="../../images/bat.jpeg" class="img" id="img2" alt="...">
                <div class="card-body">
                    <h5 class="card-title title">baterry hire</h5>
                    <p class="card-text text">
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="valveCheck">
                            <label class="form-check-label" for="valveCheck">5000</label>
                        </div>
                    </p>
                </div>
                <a href="#slider-span2" class=" button" id="button-1"></a>
            </div>
        </div>
    </div>
</body>
</html>