body{
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: linear-gradient(#dff6ff,#5d8bf4,#2d31fa,#051367);
    overflow: hidden;
}
.my-nav{
   background-color: #dff6ff;
   color: #fff;
   
}
.main{
    height: 500px;
    width: 100%;

}
.slide-container{
    width: 100%;
    height: 400px;
    display: flex;
 
    
}
.image-slider{
    width: 100%;
    height: 500px;
   
   
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.slide-div{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px 0 30px; 
}
.img{
    position: relative;
    width: 100%;
    height: 220px;
    transition: -5;
    
}


.btn-p{
    background-color: ;
    border-radius: 116px;
    padding: 10px;
    
} 
button:hover{
    color: aqua;
}
#but{
 margin-right: 5px;
}

