body {
  background-image: url("/images/bg2.jpeg");
  background-size: cover;
  backdrop-filter: b lur(5x);
}
.text {
  width: 250px;
  
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  font-family:  sans-serif;
}

.my-navbar {
  color: #121111;
  background-color: #dff6ff;
}

#but-p {
  margin: 3px;
}
button:hover {
  background-color: #051367;
}
