body{
    background-image: url("/images/bg2.jpeg");
    background-size: cover;
    backdrop-filter:b lur(5x);
}
.my-nav{
    background-color: #dff6ff;
}
.tabs{
    align-items: center;
}
.sm-card{
    padding: 0px;
    height: 150px;
    margin-top: 20px;
    margin-left: 50px;
    text-align: center;
    background-color: #48a1ea;
}
.tab-let{
    border: 1px solid black;
    border-radius: 20px;
    height: 500px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 0px;
    padding-left: 20px;
    background-color: #fff;
}
table{
    width: 100%;
    font-size: 20px;
}
.tab-button{
    width: 100%;
    margin: 0px;

}
  
.card-table, .card-button{
    height: 400px;
    margin: 0;
    padding: 0;
}
#card-button{
    margin-left: -25px;
    margin-top: -73px;
}
.table-header p{
    color: rgb(19, 14, 14);
}
thead, th{
   
    color: #02050a;
    font-size: 20px;
}

th{
    border-bottom: 1px solid #dddddd;
}
tr:hover td{
    color: #0298cf;
    cursor: pointer;
    background-color: #e2e5e8;
}

::webkit-scrollbar{
    height: 50px;
    width: 50px;

}

::webkit-scrollbar-track{
    box-shadow: insert 0 0 6px rgba(0, 0, 0, 0.3);
}

::webkit-scrollbar-thumb{
    box-shadow: insert 0 0 6px rgba(0, 0, 0, 0.3);
} 
.btn-p{
    padding: 23.7px;
    border-bottom-right-radius: 20px;
}
.detail{

    margin-top: 5px;
    border-bottom: 1px solid #cad7dc; 
}
.manager{
    padding-bottom: 20px;
    margin-top: 30px;
    width: 450px;
    height: 70px;
    border-bottom: 1px solid #cad7dc;
    display: flex;
    justify-content: space-between;
}
.time{
    display: flex;
    justify-content: space-between;
}
.totalprice{
    font-size: 30px;
    margin-top: 144px;
    padding-right: -20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border-top: 1px solid #d8e4eb;
    width: 450px;
    height: 70px;
    

}
.price{
    padding-left: 250px;
}




