body{
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: linear-gradient(#dff6ff,#5d8bf4,#2d31fa,#051367);
    overflow: hidden;
     /* background-image: url("../allimages/bg2.jpeg");
    background-size: cover;
    backdrop-filter:b lur(5x); */

}
.my-nav{
   background-color: #dff6ff;
   color: #fff;
   
}

.register{
    height: 500px;
    width: 1000px;
    margin: 10px 100px;
    border: 1px solid black;
    padding: 0px;
    border-radius: 20px;
    background-color:#051367;
    color: #070000;
    border-radius: 20px;
}

.ton-b{
    width: 100%;
}
.form{
    margin-bottom: 0px;
    margin-top: -15px;
    margin-right: 0px;
    padding: 20px;
    float: right;
    width: 500px;
    height: 400px;
    color: #fff;
    font-size: 14px;
    background-color:transparent;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

img{
    margin-top: 10px;
    width: 500px;
    height: 380px;
    border-radius: 20px;
   
}
#title, h3{
    color: #fff;
    padding: 10px; 
    align-self: center;  
}
