doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='/bootstrap/set/bootstrap/css')
        link(rel='stylesheet' href='/css/cashier.css')
        title Document
    body 
        .container-fluid
            .row
                nav.navbar.navbar-expand-lg.my-navbar
                    .container-fluid
                        a.navbar-brand(href='#') DV PARKING
                        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                            span.navbar-toggler-icon
                        #navbarSupportedContent.collapse.navbar-collapse
                            ul.navbar-nav.me-auto.mb-2.mb-lg-0
                                li.nav-item
                                    a.nav-link.active(aria-current='page' href='#') Home
                                li.nav-item
                                    a.nav-link.active(aria-current='page' href='services') Services
                           
                            button#but-p.btn.btn-outline-primary(type='button' onclick="location.href = 'login';") Back
                            button.btn.btn-outline-primary(type='button' onclick="location.href = 'logout';") Logout   
    h1      Cashier : #{loggedinUser}           
    ul 
        li.buttonlinks  
            a.btn.btn-primary( href="") Employees
        li.buttonlinks 
            a.btn.btn-primary( href="services") Services
        li.buttonlinks  
            a.btn.btn-primary( href="tyreReport") Tyre Report
        li.buttonlinks  
            a.btn.btn-primary( href="report") Report
        li.buttonlinks  
            a.btn.btn-primary( href="batteryreport") Battery Report
        li.buttonlinks  
            a.btn.btn-primary( href="") Settings
                       