doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/bootstrap/set/bootstrap/css')
  link(rel='stylesheet' href='/css/landing.css')
  title DV parking
.container-fluid
 .row
    video.background-clip(autoplay loop muted plays-inline  type="video/mp4")
      source(src="https://cdn.dribbble.com/uploads/39417/original/49dbf46eae15d227fc95a69cee31251e.mp4?1657824906") 
        
    nav.navbar.navbar-expand-lg.my-navbar
      .container-fluid
        a.navbar-brand(href='#') DV PARKING
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link.active(aria-current='page' href='#') Home
            li.nav-item
              a.nav-link.active(aria-current='page' href='services') Services
          .buts
            button#btn.btn-p(type='button' onclick="location.href = 'login';")
              | Login
            button#btn-pp.btn-p(type='button' onclick="location.href = 'signup';")
              | Sign up
             
    .main
     .register
      .row
        .img.col-md-6.dvimg
          img(src='/images/imghappy.jpeg' alt='')
          p#imgpara Better choices, Happy customers
          
        #text.dvtext.col-md-6
          h1 DockVille PARKING
          p For all your vehicle solutions
 
        
      .clause
        h4 Your better parking choice
script(src='')













