doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/bootstrap/set/bootstrap/css')
  link(rel='stylesheet' href='/css/parking.css')
  title dv parking
.container-fluid
  .row
    nav.navbar.navbar-expand-lg.my-nav
      .container-fluid
        a.navbar-brand(href='#') DV PARKING
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link.active(aria-current='page' href='tire') Tire clinic
            li.nav-item
              a.nav-link(href='battery') Battery
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              ul.dropdown-menu
                li
                  a.dropdown-item(href='#') Action
                li
                  a.dropdown-item(href='#') Another action
                li
                  hr.dropdown-divider
                li
                  a.dropdown-item(href='#') Something else here
            li.nav-item
              a.nav-link.disabled(aria-disabled='true')
          button.btn.btn-outline-success(type='submit') ADD
          button#btn.btn.btn-outline-primary(type='button' onclick="location.href = 'services';")
              | Back
    .main.card-body.image-body
      .slide-container
        span#slider-span1.slider-span
        span#slider-span2.slider-span
        span#slider-span3.slider-span
        span#slider-span4.slider-span
        span#slider-span5.slider-span
        .image-slider
          #slide-1.card.card-1.slide-div
            img#img1.img(src='../../images/truck.jpeg' alt='...')
            .card-body
              h5.card-title.title Truck
              ul
                .mb-3.form-check
                  input#truckCheck1.form-check-input(type='checkbox')
                  label.form-check-label(for='exampleCheck1') DAY - 3000
                .mb-3.form-check
                  input#truckCheck2.form-check-input(type='checkbox')
                  label.form-check-label(for='exampleCheck1') NIGHT - 5000
                .mb-3.form-check
                  input#truckCheck3.form-check-input(type='checkbox')
                  label.form-check-label(for='exampleCheck1') 3HRS - 2000
            a#button-1.button(href='#slider-span1')
          #slide-2.card.slide-div
            img#img2.img(src='../../images/taxi.jpeg' alt='...')
            .card-body
              h5.card-title.title Taxis
              ul
                .mb-3.form-check
                  input#taxiCheck1.form-check-input(type='checkbox')
                  label.form-check-label(for='exampleCheck1') DAY - 3000
                .mb-3.form-check
                  input#taxiheck2.form-check-input(type='checkbox')
                  label.form-check-label(for='exampleCheck1') NIGHT - 2000
                .mb-3.form-check
                  input#taxiCheck3.form-check-input(type='checkbox')
                  label.form-check-label(for='exampleCheck1') 3HRS - 2000
            a#button-2.button(href='#slider-span2')
          #slide-3.card.slide-div
            img#img3.img(src='../../images/coaster.jpeg' alt='...')
            .card-body
              h5.card-title.title Coaster
              ul
                .mb-3.form-check
                  input#coasterCheck1.form-check-input(type='checkbox')
                  label.form-check-label(for='exampleCheck1') DAY - 3000
                .mb-3.form-check
                  input#coasterCheck2.form-check-input(type='checkbox')
                  label.form-check-label(for='exampleCheck1') NIGHT - 2000
                .mb-3.form-check
                  input#coasterCheck3.form-check-input(type='checkbox')
                  label.form-check-label(for='exampleCheck1') 3HRS - 3000
            a#button-3.button(href='#slider-span3')
          #slide-4.card.slide-div
            img#img4.img(src='../../images/pcar.jpeg' alt='...')
            .card-body
              h5.card-title.title personal car
              ul
                .mb-3.form-check
                  input#pcarCheck1.form-check-input(type='checkbox')
                  label.form-check-label(for='exampleCheck1') DAY - 3000
                .mb-3.form-check
                  input#pcarCheck2.form-check-input(type='checkbox')
                  label.form-check-label(for='exampleCheck1') NIGHT - 2000
                .mb-3.form-check
                  input#pcarCheck3.form-check-input(type='checkbox')
                  label.form-check-label(for='exampleCheck1') 3HRS - 2000
            a#button-4.button(href='#slider-span4')
          #slide-5.card.slide-div
            img#img5.img(src='../../images/boda.jpeg' alt='...')
            .card-body
              h5.card-title.title Boda-boda
              ul
                .mb-3.form-check
                  input#bodaCheck1.form-check-input(type='checkbox')
                  label.form-check-label(for='exampleCheck1') DAY - 2000
                .mb-3.form-check
                  input#bodaCheck2.form-check-input(type='checkbox')
                  label.form-check-label(for='exampleCheck1') NIGHT - 2000
                .mb-3.form-check
                  input#bodaCheck3.form-check-input(type='checkbox')
                  label.form-check-label(for='exampleCheck1') 3HRS - 1000
            a#button-5.button(href='#slider-span5')
  script(src='../../set/bootstrap/js')
