doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/bootstrap/set/bootstrap/css')
  link(rel='stylesheet' href='/css/signup.css')
  title Document
.container-fluid
  .row
    nav.navbar.navbar-expand-lg.my-nav
      .container-fluid
        a.navbar-brand(href='#') DV PARKING
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link.active(aria-current='page' href='landing') Home 
            li.nav-item
              a.nav-link(href='#') 
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle( role='button' data-bs-toggle='dropdown' aria-expanded='false') Services
              ul.dropdown-menu
                li
                  a.dropdown-item(href='battery') Battery
                li
                  a.dropdown-item(href='tire') Tyre clinic
                li
                  hr.dropdown-divider
                li
                  a.dropdown-item(href='parking') Parking
            li.nav-item
              a.nav-link.disabled(aria-disabled='true')
          button.buts.btn.btn-outline-primary(type='button' onclick="location.href = 'landing';")
              | Back
    .register
      form(name="signupform" method="POST" action="/api/regsignup" onsubmit="return Validate();")
        #title
          h3  SIGNUP
        img(src='/images/boda.jpeg' alt='')
        .form.row.g-3
            .col-md-6
                label.form-label(for='firstname') First name
                input#firstname.form-control(type='text' name='firstname')
                span#dnameerror
            .col-md-6
                label.form-label(for='lastname') Last name
                input#lastname.form-control(type='text' name='lastname')
                span#lastnameerror
            .col-4
                label.form-label(for='username') User Name
                input#username.form-control(type='text' name='username')
                span#usernameerror
            
            .col-md-4
                label.form-label(for='telephone') Phone
                input#telephone.form-control(type='telephone' name='telephone')
                span#telephoneerror
            .col-md-4
                label.form-label(for='gender') Gender*
                select#inputState.form-select(name='gender' type='text')
                    option(selected='') 
                    option(value='female') Female
                    option(value='male') Male
                span#genderError
            .col-md-12
                label.form-label(for='ninnumber') NIN Number*
                input#ninnumber.form-control(type='alpha numeric' name='ninnumber')
                span#ninnumberError
            .col-12
                label.form-label(for='email') Email
                input#email.form-control(type='email' name='email')
                span#emailerror
            .col-md-6
                label.form-label(for='role') Role
                select#inputState.form-select(name='role')
                    option(value='') Select Role
                    option(value='director') Director
                    option(value='manager') Manager
                    option(value='attendant') Attendants
                    option(value='cashier') Cashier
                span#roleerror    
            .col-md-6
                label.form-label(for='section') Section
                select#inputState.form-select(name='section')
                    option(value='') Select Section
                    option(value='Parking') Parking
                    option(value='Battery') Battery
                    option(value='Tire Clinic') Tyre Clinic
                span#sectionerror
            .col-12
                label.form-label(for='password') Password
                input#password.form-control(type='password' name='password')
                span#passworderror
            .col-12
                button.ton-b.btn.btn-primary(type='submit') Sign in


  script(src='/js/signupvalidation.js')
  script(src='/bootstrap/set/bootstrap/js')
