doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/bootstrap/set/bootstrap/css')
  link(rel='stylesheet' href='/css/tire.css')
  title dv parking
.container-fluid
  .row
    nav.navbar.navbar-expand-lg.my-nav
      .container-fluid
        a.navbar-brand(href='#') DV PARKING
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link.active(aria-current='page' href='parking') Parking
            li.nav-item
              a.nav-link(href='battery') Battery
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              ul.dropdown-menu
                li
                  a.dropdown-item(href='#') Action
                li
                  a.dropdown-item(href='#') Another action
                li
                  hr.dropdown-divider
                li
                  a.dropdown-item(href='#') Something else here
            li.nav-item
              a.nav-link.disabled(aria-disabled='true')
          button#but.btn.btn-outline-success(type='submit' onclick="location.href = 'tyreform';") ADD
          button.btn.btn-outline-primary(type='button' onclick="goBack()")
              | Back
    .main.card-body.image-body
      .slide-container
        span#slider-span1.slider-span
        span#slider-span2.slider-span
        span#slider-span3.slider-span
        .image-slider
          #slide-1.card.slide-div
            img#img1.img(src='../../images/ptire.jpeg' alt='...')
            .card-body
              h5.card-title.title Puncture fix
              .mb-3.form-check
                input#tirepressure.form-check-input(type='checkbox')
                label.form-check-label(for='tirepressure')  5000
          #slide-1.card.slide-div
            img#img2.img(src='../../images/valve.jpeg' alt='...')
            .card-body
              h5.card-title.title Valves
              .mb-3.form-check
                input#tirepressure.form-check-input(type='checkbox')
                label.form-check-label(for='tirepressure')  5000
          #slide-3.card.slide-div
            img#img3.img(src='../../images/tirep.jpg' alt='...')
            .card-body
              h5.card-title.title Tire pressure
              .mb-3.form-check
                input#tirepressure.form-check-input(type='checkbox')
                label.form-check-label(for='tirepressure')  500
script(src="/js/back.js")              
