<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../set/bootstrap/css">
    <link rel="stylesheet" href="../../css/parking.css">
    <title>dv parking</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand-lg my-nav">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">DV PARKING</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../tireclinic/tire.html">Tire clinic</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../battery/battery.html">Battery</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            
                            </a>
                            <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true"></a>
                        </li>
                        </ul>
                        <button class="btn btn-outline-success" type="submit">ADD</button>
                       
                   </div>
                </div>
            </nav>
            <div class=" main card-body image-body">
                <div class="slide-container">
                    <span class="slider-span" id="slider-span1"></span>
                    <span class="slider-span" id="slider-span2"></span>
                    <span class="slider-span" id="slider-span3"></span>
                    <span class="slider-span" id="slider-span4"></span>
                    <span class="slider-span" id="slider-span5"></span>
               
                <div class="image-slider">
                    <div class="card card-1 slide-div" id="slide-1">
                        <img src="../../images/truck.jpeg" class="img" id="img1" alt="...">
                        <div class="card-body">
                            <h5 class="card-title title">Truck</h5>
                            <ul>
                              <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="truckCheck1">
                                <label class="form-check-label" for="exampleCheck1">DAY - 3000</label>
                              </div>
                              <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="truckCheck2">
                                <label class="form-check-label" for="exampleCheck1">NIGHT - 5000</label>
                              </div>
                              <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="truckCheck3">
                                <label class="form-check-label" for="exampleCheck1">3HRS - 2000</label>
                              </div>
                            </ul>
                        </div>
                        <a href="#slider-span1" class=" button" id="button-1"></a>
                    </div>
                    <div class="card slide-div" id="slide-2">
                        <img src="../../images/taxi.jpeg" class="img" id="img2" alt="...">
                        <div class="card-body">
                           <h5 class="card-title title">Taxis</h5>
                           <ul>
                            <div class="mb-3 form-check">
                              <input type="checkbox" class="form-check-input" id="taxiCheck1">
                              <label class="form-check-label" for="exampleCheck1">DAY - 3000</label>
                            </div>
                            <div class="mb-3 form-check">
                              <input type="checkbox" class="form-check-input" id="taxiheck2">
                              <label class="form-check-label" for="exampleCheck1">NIGHT - 2000</label>
                            </div>
                            <div class="mb-3 form-check">
                              <input type="checkbox" class="form-check-input" id="taxiCheck3">
                              <label class="form-check-label" for="exampleCheck1">3HRS - 2000</label>
                            </div>
                          </ul>
                        </div>
                        <a href="#slider-span2" class=" button" id="button-2"></a>
                    </div>
                    <div class="card slide-div" id="slide-3">
                        <img src="../../images/coaster.jpeg" class="img" id="img3" alt="...">
                        <div class="card-body">
                           <h5 class="card-title title">Coaster</h5>
                           <ul>
                            <div class="mb-3 form-check">
                              <input type="checkbox" class="form-check-input" id="coasterCheck1">
                              <label class="form-check-label" for="exampleCheck1">DAY - 3000</label>
                            </div>
                            <div class="mb-3 form-check">
                              <input type="checkbox" class="form-check-input" id="coasterCheck2">
                              <label class="form-check-label" for="exampleCheck1">NIGHT - 2000</label>
                            </div>
                            <div class="mb-3 form-check">
                              <input type="checkbox" class="form-check-input" id="coasterCheck3">
                              <label class="form-check-label" for="exampleCheck1">3HRS - 3000</label>
                            </div>
                          </ul>
                        </div>
                        <a href="#slider-span3" class=" button" id="button-3"></a>
                    </div>
                    <div class="card slide-div" id="slide-4">
                        <img src="../../images/pcar.jpeg" class="img" id="img4" alt="...">
                        <div class="card-body">
                            <h5 class="card-title title">personal car</h5>
                            <ul>
                              <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="pcarCheck1">
                                <label class="form-check-label" for="exampleCheck1">DAY - 3000</label>
                              </div>
                              <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="pcarCheck2">
                                <label class="form-check-label" for="exampleCheck1">NIGHT - 2000</label>
                              </div>
                              <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="pcarCheck3">
                                <label class="form-check-label" for="exampleCheck1">3HRS - 2000</label>
                              </div>
                            </ul>
                        </div>
                        <a href="#slider-span4" class=" button" id="button-4"></a>
                    </div>
                    <div class="card slide-div" id="slide-5">
                        <img src="../../images/boda.jpeg" class="img" id="img5" alt="...">
                        <div class="card-body">
                           <h5 class="card-title title">Boda-boda</h5>
                           <ul>
                            <div class="mb-3 form-check">
                              <input type="checkbox" class="form-check-input" id="bodaCheck1">
                              <label class="form-check-label" for="exampleCheck1">DAY - 2000</label>
                            </div>
                            <div class="mb-3 form-check">
                              <input type="checkbox" class="form-check-input" id="bodaCheck2">
                              <label class="form-check-label" for="exampleCheck1">NIGHT - 2000</label>
                            </div>
                            <div class="mb-3 form-check">
                              <input type="checkbox" class="form-check-input" id="bodaCheck3">
                              <label class="form-check-label" for="exampleCheck1">3HRS - 1000</label>
                            </div>
                        </ul>
                        </div>
                        <a href="#slider-span5" class=" button" id="button-5"></a>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <script src="../../set/bootstrap/js"></script>
</body>
</html>