<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../set/bootstrap/css">
    <link rel="stylesheet" href="../../css/tire.css">
    <title>dv parking</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand-lg my-nav">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">DV PARKING</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../parking/parking.html">Parking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../battery/battery.html">Battery</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            
                            </a>
                            <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true"></a>
                        </li>
                        </ul>
                        <button class="btn btn-outline-success" type="submit">ADD</button>
                       
                   </div>
                </div>
            </nav> 
            <div class=" main card-body image-body">
                <div class="slide-container">
                    <span class="slider-span" id="slider-span1"></span>
                    <span class="slider-span" id="slider-span2"></span>
                     <span class="slider-span" id="slider-span3"></span>
                    <div class="image-slider">
                        <div class="card slide-div" id="slide-1">
                            <img src="../../images/ptire.jpeg" class="img" id="img1" alt="...">
                            <div class="card-body">
                            <h5 class="card-title title">Puncture fix</h5>
                            <p class="card-text text">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="punctureCheck">
                                    <label class="form-check-label" for="punctureCheck"> 5000</label>
                                </div>
                            </p>
                        </div>
                            <a href="#slider-span1" class=" button" id="button-1"></a>
                        </div>
                        <div class="card slide-div" id="slide-1">
                            <img src="../../images/valve.jpeg" class="img" id="img2" alt="...">
                            <div class="card-body">
                                <h5 class="card-title title">Valves</h5>
                                <p class="card-text text">
                                    <div class="mb-3 form-check">
                                        <input type="checkbox" class="form-check-input" id="valveCheck">
                                        <label class="form-check-label" for="valveCheck">5000</label>
                                    </div>
                                </p>
                            </div>
                            <a href="#slider-span2" class=" button" id="button-1"></a>
                        </div>
                        <div class="card slide-div" id="slide-3">
                            <img src="../../images/tirep.jpg" class="img" id="img3" alt="...">
                            <div class="card-body">
                                <h5 class="card-title title">Tire pressure</h5>
                                <p class="card-text text">
                                    <div class="mb-3 form-check">
                                        <input type="checkbox" class="form-check-input" id="pressureCheck">
                                        <label class="form-check-label" for="pressureCheck1">500</label>
                                    </div>
                                </p>
                            </div>
                            <a href="#slider-span3" class=" button" id="button-3"></a>
                        </div>
                    </div>    
                </div>
            </div>   
        </div>
    </div>
</body>
</html>